* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 6, 79, 1) 37%, rgba(128, 58, 170, 1) 100%);
}

.card {
    background-color: rgb(85, 8, 129) !important;
}

.best-players {
    height: 387px !important;
}

ol {
    word-break: break-all;
}

.players {
    padding: 10px 0;
    text-align: start;
    list-style-position: inside;
}

.players::before {
    content: "";
    width: 15px;
    display: inline-block;
}


@media screen and (min-width: 360px) and (max-width: 576px) {
    .cards-order {
        order: 2;
    }

    .sidebar-order {
        order: 1;
    }

    header .p-5 {
        padding: 0 !important;
    }

    .p-5 .section-header-text {
        padding: 0 !important;
    }
}