* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(52, 6, 79, 1) 37%, rgba(128, 58, 170, 1) 100%);
}

.card {
    background-color: rgb(72, 6, 110) !important;
}

.best-players {
    height: 347px !important;
}

ol {
    word-break: break-all;
}

.players {
    padding: 10px 0;
    text-align: start;
    list-style-position: inside;
}

.players::before {
    content: "";
    width: 15px;
    display: inline-block;
}